.sub-title-bg {
  background-color: rgb(255, 248, 231);
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 40px;
}

.gif {
  position: absolute;
  height: 45%;
  right: 30%;
}
@media(max-width:600px){
  .gif{
    height: 30%;
    bottom: 10px;
    right: 35%;
  }
}
.sub-text {
  font-size: 20px;
}
