.button_container {
  position: relative;
  height: 12vh;
  width: 20vh;
  background: #edc66b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 40px 5px 40px;
  overflow: hidden;
  cursor: pointer;
  left: -45vw;
  transition: 1s;
  transform: translateX(-400%);
}

.button_container2 {
  position: absolute;
  inset: 3px;
  border-radius: 20px;
  background-color: #edc66b;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: 1s;
  gap: 1em;
}
.button_container2::before {
  position: absolute;
  content: "";
  height: 120%;
  width: 110%;
  border-radius: 20px;
  background-color: #6b93ed;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 1s ease-in-out;
  z-index: 10;
}
.button_container2:hover::before {
  transform: scalex(1);
  transition: transform 1s ease-in-out;
  transform-origin: left;
}
.button {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  font-weight: bold;
  z-index: 11;
  transition: 0s;
}

.arrow_text {
  position: relative;
  height: 2em;
  width: 0.3em;
  background-color: #333;
  transition: 1s;
  z-index: 11;
}
.button_container:hover .arrow_text {
  height: 0.3em;
  width: 2em;
  background-color: #333;
}
.arrow_text::before {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 1em;
  right: 0.2em;
  top: 0em;
  border-right: 0.3em solid transparent;
  transform: rotate(90deg);
  transition: 1s;
  transform-origin: right;
}
.arrow_text::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 1em;
  right: 0.2em;
  top: -0.7em;
  border-right: 0.3em solid transparent;
  transform: rotate(-90deg);
  transition: 1s;
  transform-origin: right;
}
.button_container:hover .arrow_text::before {
  transform: rotate(45deg);
  transition-delay: 1s;
  border-color: #333;
}
.button_container:hover .arrow_text::after {
  transform: rotate(-45deg);
  border-color: #333;
  transition-delay: 1s;
}

.button_action {
  transform: translateX(0%);
}

.button_action1 {
  transition-delay: 0s;
}
.button_action2 {
  transition-delay: 0.5s;
}
